{{ define "main" }}
 <h1>{{- .Title }}</h1>
   {{- .Content }}
 <div class="containter">
  {{- range .Pages.ByDate }}
  <div class="row">
    <div class = "col-sm-12">  
      <a href="{{ .RelPermalink }}">{{ .Title }}</a><br>{{ .Summary }}
    </div>
    {{ end }}
  </div>
  <div class="row">
    <div class = "col-sm-12">  
      <strong>Recent NEWS:</strong>
      {{ partial "summary-news.html" .}}
      <ins class="epn-placement" data-config-id="5ab828ae87376a081fab645f"></ins>
    
    </div>
  </div>
 </div>
{{ end }}
